<div *ngIf="showDropdown" class="nested-dropdown-trp-overlay"></div>
<div class="nested-dropdown" (clickOutside)="onClickOutside($event)">
  <vdl-label class="label">{{label}}</vdl-label>
  <span #cusInp tabindex="0" (keydown)="onNestedDropdownKeyDown($event)" (click)="onToggleDropdown($event)" class="selectedValue">{{getDisplayedValue()}} <span class="icon">
      <vdl-icon fontSet="fontawesome" fontIcon="fa-angle-down" style="font-size: 1.25em;"></vdl-icon>
  </span>
  </span>
  <nested-list #dropdownListElmRef *ngIf="showDropdown" class="dropdown-list" [item]="nestedData" [selected]="selected" (onToggleChildren)="onToggleChildren($event)" (onSelectItem)="onDropdownSelect($event)" [ngStyle]="{'minWidth.px': dropdownListStyles.width, 'top.px': dropdownListStyles.top, 'left.px': dropdownListStyles.left}"></nested-list>
  <!-- <vdl-form-field label="Dept" [ngClass]="{'vdl-focused' : inpFocusFlag}">
    <span (click)="onToggleDropdown($event)" class="selectedValue">
   <input vdlInput #cusInp [value]="getDisplayedValue()"  style="width:85%" readonly=true autocomplete="off" (focus)="inpFocus($event)" (blur)="inpFocus($event)" (keypress)="onToggleDropdown($event)" >
      <span class="icon">
      <vdl-icon fontSet="fontawesome" fontIcon="fa-angle-down" style="font-size: 1.25em;"></vdl-icon>
    </span>
    </span>
  </vdl-form-field>
  <nested-tree-list #dropdownListElmRef *ngIf="showDropdown" class="dropdown-list" [item]="nestedData" [selected]="selected" (onToggleChildren)="onToggleChildren($event)" (onSelectItem)="onDropdownSelect($event)" [ngStyle]="{'width.px': dropdownListStyles.width, 'top.px': dropdownListStyles.top, 'left.px': dropdownListStyles.left}"></nested-tree-list> -->
</div>